.filter-change-form {
	margin-bottom: 10px;
	padding: 15px;
	background-color: #cce6ff;
}

.filter-change-form-row {
	margin-bottom: 10px;
}

.add-form-row, .add-button {
	margin-top: 10px;
}
.toy-list {
	padding: 15px;
	background-color: #ffffcc;
}